* {
	font-family: monospace;
	font-size: 1.15em;
	font-weight: bold;
	line-height: 1.2;
}

body {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	text-align: center;

	background-image: url("./utils/uni1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*max-height: 100vh;*/
	width: 100vw;
	overflow-x: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
}



.header {
	/*background-color: red;*/
	margin-top: 2rem;
	margin-bottom: 0rem;
	/*^ it used to be 0.5rem*/
	width: 100%;
	display: block;
	justify-content: center;
	align-items: center;
}

.logo {
	/*line-height: 1.4;*/
	background: rgba(250, 250, 250, 0);
	border-radius: 1.5rem;
	padding: 1rem;
	opacity: 80%;
	font-size: 3.5rem;
	color: white;
	text-decoration: overline underline;
}

/*.logo:link {
	text-decoration: overline underline;
}*/

.logo:active {
	opacity: 100%;
}


.intro-text {
	/*background-color: blue;*/
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	max-width: 22rem;
	font-size: 1.2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	color: pink;
}

.grid {
	/*background-color: green;*/
	margin: 1rem auto 1rem;
	padding: 1rem 2.5rem;
	width: 47%;
	display: grid;
	flex-direction: row;
	grid-template-columns: repeat(1, 13rem);
	grid-row-gap: 0.25rem;

	align-items: center;
	align-content: center;
	justify-content: center;


	max-height: 40%;
}

.button {
	margin: 0 auto 0;
	padding: 0.2rem;
	opacity: 65%;
	width: 93%;

	background-color: white;
	color: black;
	border: 0.3rem solid black;
	border-radius: 3rem;
	font-weight: bolder;
	font-style: oblique;
	text-align: center;

	align-items: center;
	align-content: center;
	justify-content: center;
	visibility: visible;
	transition-duration: 0.4s;
}

.button:hover,.button:focus {
	cursor: pointer; 
}

.highlight {
  	opacity: 100%;
	transform: scale(1.03);
  	transition-duration: 0.2s;
}

.result {
	box-sizing: border-box;
	border-collapse: collapse;


	background-color: rgba(150, 150, 150, 0.5);
	margin: 2rem auto 0;
	width: 85vw;
	max-height: 80vh;
	display: block;
	padding: 1rem;
	border-radius: 1.5rem;
	align-items: center;
	color: pink;
}

.result-tagline {
/*	border: 1px solid yellow;
	box-sizing: border-box;*/

	/*height: 50%;*/
	border-collapse: collapse;
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.result-image {
/*	border: 1px solid yellow;
	box-sizing: border-box;*/

	height: 30vh;
	width: 40vh;
	margin: 0 auto;
	display: block;
    border-radius: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;	
    background-size: cover;
	/*object-fit: fill;*/

	margin-bottom: 2rem;
}

.result-paragraph {
	/*border: 1px solid yellow;*/
	/*box-sizing: border-box;*/

	max-height: 10rem;
	padding: 0;
	font-size: 1.1rem;
	font-weight: normal;
	color: white;
	overflow-y: auto;
}

.invisible {
	/*display: none;*/
	opacity: 0%;
	visibility: hidden;
	transition-duration: 0.5s;
}

.visible {
	/*display: initial;*/
	opacity: 100%;
	visibility: visible;
	transition-duration: 0.5s;
}

/*.no-height {
	max-height: 0vh;
	overflow: hidden;
}*/

.white { color: white; }








/* //// MEDIA QUERIES BELOW //// */

/* Mobile = 1 column == DEFAULT*/ 
@media (max-width: 509px) {
	.grid {
		/*background-color: green;*/
	}
}


/* Small = 2 columns */
@media (min-width: 510px) and (max-width: 674px) {
	.intro-text {
		margin-top: 2rem;
		font-size: 1.3rem;
		max-width: 25rem;
	}

	.grid {
		/*background-color: yellow;*/
		margin: 1rem auto 0;
		max-width: 70%;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0.6rem 0.4rem;
		font-size: 1.4rem;
	}

	.button {
		padding: 0.5rem 0.6rem;
		width: 12rem;
	}

	.result {
		max-width: 70vw;
	}

	.result-image {
		width: 48vw;
		height: 36vw; 
	}
}


/* Medium = 3 columns */
@media (min-width: 675px) and (max-width: 899px) {
	.intro-text {
		margin-top: 3rem;
		font-size: 1.2rem;
		max-width: 85%;
	}
	.grid {
		/*background-color: orange;*/
		margin: 2rem auto 0;
		width: 42rem;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0.9rem 0rem;
		font-size: 1.5rem;
	}

	.button {
		padding: 0.5rem 0.6rem;
		width: 11.5rem;
	}

	.result {
		max-width: 60vw;
	}

	.result-image {
		width: 36vw;
		height: 27vw; 
	}
}


/* Large = 4 columns */
@media (min-width: 900px) {
	body {
		overflow: auto;
		max-height: 100vh;
	}

	.intro-text {
		margin-top: 4rem;
		font-size: 1.4rem;
		max-width: 80%;
	}

	.grid {
		/*background-color: red;*/
		margin: 3rem auto 0;
		max-width: 70%;
		max-height: 90%;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 0.9rem 0.5rem;
		font-size: 1.55rem;
	}

	.button {
		padding: 0.4rem 1.15rem;
		width: 11.5rem;
		height: 2.1rem;
	}

	.result {
		width: 60vw;
	}

	.result-image {
		width: 20vw;
		height: 15vw; 
	}

	.result-paragraph {
		max-height: 10rem;
	}
}

/* End of media queries*/

.no-highlight {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}