* {
	font-family: monospace;
	font-size: 1.15em;
	font-weight: bold;
	line-height: 1.2;
}

body {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	text-align: center;
	/*overflow: hidden;*/

	background-image: url("./utils/uni1.jpg");
	background-size: cover;
	/*background-position: center;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	max-width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	/*background-color: red;*/
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header a {
	/*background-color: white;*/
	font-size: 3.5rem; color: white;
	text-decoration: overline underline;
}

.intro {
	/*background-color: green;*/
	/*margin-top: 0.5rem;*/
	margin-bottom: 0.5rem;
	max-width: 19rem;
	transition-duration: 0.5s;
	visibility: visible;
	font-size: 1.1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	color: pink;
}

.table {
	/*background-color: yellow;*/
	margin-top: 1rem;
	width: 45%;

	display: grid;
	flex-direction: row;
	grid-template-columns: 1fr;
	grid-row-gap: 0.25rem;
	/*grid-gap: 0.3rem;*/

	align-items: center;
	justify-content: center;
}

.button {
	/*margin-top: 0.5rem;*/
	padding: 0.2rem;
	opacity: 65%;
	/*width: 50%;*/

	background-color: white;
	color: black;
	border: 0.35rem solid black;
	border-radius: 3rem;

	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: bolder;
	font-style: oblique;
	visibility: visible;
	transition-duration: 0.5s;
}

.button:hover,.button:focus {
	cursor: pointer; 
}

.highlight {
  	opacity: 100%;
	transform: scale(1.03);
  	transition-duration: 0.2s;
}

.white-text {
	color: white;
}

.make-invisible {
	/*transform: skew(90deg, 45deg) rotateY(180deg);	*/
	visibility: hidden;
	opacity: 0%;
	transition-duration: 0.5s;
}

.result {
	background-color: rgba(150, 150, 150, 0.5);
	/*margin-bottom: 0.5rem;*/
	padding: 0.5rem;
	border-radius: 2rem;
	visibility: visible;
	display: flex;
	flex-direction: column;
	max-width: 23rem;
	font-size: 1.1rem;
	transition-duration: 0.5s;

	align-items: center;
	color: pink;
}

.result-tagline {
	font-size: 1.2rem;

}

.result-paragraph {
	/*letter-spacing: 0.0px;*/
	/*font-stretch: ultra-condensed;*/
	font-size: 1.1rem;
	font-weight: normal;
	color: white;
}


/* //// MEDIA QUERIES BELOW //// */

/* Large screens = 4 columns */
@media (min-width: 650px) {
	.table {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		width: 60%;
		margin-top: 5rem;
		grid-row-gap: 0.9rem;
		/*justify-items: center; */

		/*grid-gap: 0.5rem;*/
		/*grid-column: 5rem;*/
		justify-content: space-around;
	}

	.button {
		padding: 0.5rem;
		width: 80%;
		margin: 0 auto;
		/*justify-items: center; */
	}
}


/* Medium screens = 3 columns */
@media (min-width: 525px) and (max-width: 649px) {
	.table {
		grid-template-columns: 1fr 1fr 1fr;
		width: 60%;
		margin-top: 5rem;
		grid-row-gap: 0.4rem;
		grid-column-gap: 0.1rem;

		justify-content: space-around;
	}

	.button {
		padding: 0.6rem;
		width: 75%;
		margin: 0 auto;
	}
}

/* End of media queries*/

