* {
	font-family: monospace;
	font-size: 1.15em;
	font-weight: bold;
	line-height: 1.2;
}

body {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	text-align: center;

	background-image: url("./utils/uni1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	max-height: 100vh;
	max-width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.no-highlight {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

.header {
	/*background-color: red;*/
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	font-size: 3.5rem; color: white;
	text-decoration: overline underline;
}

.intro-text {
	/*background-color: blue;*/
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	max-width: 22rem;
	font-size: 1.2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	color: pink;
}

.grid {
	/*background-color: green;*/
	margin: 1 auto 0;
	width: 47%;

	display: grid;
	flex-direction: row;
	grid-template-columns: repeat(1, 12rem);
	grid-row-gap: 0.25rem;

	align-items: center;
	align-content: center;
	justify-content: center;
}

.button {
	margin: 0 auto 0;
	padding: 0.2rem;
	opacity: 65%;
	width: 93%;

	background-color: white;
	color: black;
	border: 0.3rem solid black;
	border-radius: 3rem;
	font-weight: bolder;
	font-style: oblique;
	text-align: center;

	align-items: center;
	align-content: center;
	justify-content: center;
	visibility: visible;
	transition-duration: 0.4s;
}

.button:hover,.button:focus {
	cursor: pointer; 
}

.highlight {
  	opacity: 100%;
	transform: scale(1.03);
  	transition-duration: 0.2s;
}

.result {
	background-color: rgba(150, 150, 150, 0.5);
	margin: 0rem auto;
	max-width: 90%;
	padding: 0.5rem;
	border-radius: 1.5rem;
	display: block;
	align-items: center;
	color: pink;
}

.result-tagline {
	font-size: 1.6rem;
}

.result-paragraph {
	font-size: 1.2rem;
	font-weight: normal;
	color: white;
}

.invisible {
	/*display: none;*/
	opacity: 0%;
	visibility: hidden;
	transition-duration: 0.5s;
}

.visible {
	/*display: initial;*/
	opacity: 100%;
	visibility: visible;
	transition-duration: 0.5s;
}

.white { color: white; }


/* //// MEDIA QUERIES BELOW //// */
/* Mobile screens is already default = 1 column;

/* Large = 4 columns */
@media (min-width: 900px) {
	.intro-text {
		margin-top: 4rem;
		font-size: 1.4rem;
		max-width: 80%;
	}

	.grid {
		/*background-color: red;*/
		margin: 3rem auto 0;
		max-width: 70%;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 0.9rem 0.5rem;
		font-size: 1.55rem;
	}

	.button {
		padding: 0.4rem 1.15rem;
		width: 11.5rem;
		height: 2.1rem;
	}
}

/* Medium = 3 columns */
@media (min-width: 675px) and (max-width: 899px) {
	.intro-text {
		margin-top: 3rem;
		font-size: 1.2rem;
		max-width: 85%;
	}
	.grid {
		/*background-color: orange;*/
		margin: 2rem auto 0;
		width: 42rem;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0.9rem 0rem;
		font-size: 1.5rem;
	}

	.button {
		padding: 0.5rem 0.6rem;
		width: 11.5rem;
	}
}

/* Small = 2 columns */
@media (min-width: 510px) and (max-width: 674px) {
	.intro-text {
		margin-top: 2rem;
		font-size: 1.3rem;
		max-width: 25rem;
	}

	.grid {
		/*background-color: yellow;*/
		margin: 1rem auto 0;
		max-width: 70%;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0.6rem 0.4rem;
		font-size: 1.4rem;
	}

	.button {
		padding: 0.5rem 0.6rem;
		width: 12rem;
	}
}

/* Mobile = 1 column */
@media (max-width: 509px) {
	.grid {
		/*background-color: green;*/
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

/* End of media queries*/